/* 获取主题颜色并定义新的颜色 */
:root {
	--obsidian-primary-color: var(--text-normal);
	--obsidian-secondary-color: var(--background-primary);

	/* 定义新的颜色，稍微调整亮度或饱和度 */
	--plugin-primary-color: hsl(var(--obsidian-primary-color-h), var(--obsidian-primary-color-s), calc(var(--obsidian-primary-color-l) + 10%));
	--plugin-secondary-color: hsl(var(--obsidian-secondary-color-h), var(--obsidian-secondary-color-s), calc(var(--obsidian-secondary-color-l) - 10%));
}



.obsidian_douban_settings_area {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}

.obsidian_douban_settings_cookie_login > .setting-item-control > textarea {
	margin-left: 5px;
	margin-right: 5px;
	height: 100px;
	width: 100%;
}

.obsidian_douban_settings_textField {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}

.obsidian_douban_settings_text {
	margin-left: 5px;
	margin-right: 5px;
}

.obsidian_douban_settings_input {
	margin-left: 5px;
	margin-right: 5px;
}

.obsidian_douban_settings_button {
	margin: auto;
	vertical-align: bottom;

}

.obsidian_douban_search_input {
	margin-left: 5px;
}

.obsidian_douban_search_input_type {
	margin-left: 5px;
	float: right;
}

.obsidian_douban_search_input_content {
    margin-left: 5px;
    width: 80%;
	float: left;

}

.obsidian_douban_search_controls {
	margin-top: 20px;
	margin-right: 5px;
}

.obsidian_douban_search_button {
	margin-top: 20px;
	margin-right: 5px;
	float:right;
}

.obsidian_douban_cancel_button {
	margin-top: 20px;
	margin-right: 5px;
	float: right;
}

.obsidian_douban_status_button {
	margin-top: 5px;
	margin-right: 10px;
	float:right;
}

.obsidian_douban_settings_desc.has_error {
	color: #fb464c;
}

.obsidian_douban_settings_input.has-error {
	color: #fb464c;
	border-color: #fb464c;
}


.obsidian_douban_sync_config{
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 10px;
	width: 90%;
}

.obsidian_douban_sync_selections{
	width: 40px;
}


.obsidian_douban_sync_config_text{
	vertical-align: bottom;
}

.obsidian_douban_sync_slider {
	display: inline-block;
	position: relative;
	margin-left: 5px;
	margin-bottom: 1px;
	width: 90%;
}


/* Add this CSS to your stylesheet */
.obsidian_douban_settings_tab_container {
  display: flex;
  flex-direction: column;
}

.obsidian_douban_settings_tab_headers {
  display: flex;
  /*border-bottom: 1px solid #ccc;*/
}

.obsidian_douban_settings_tab_header {
  padding: 10px;
  cursor: pointer;
  /*border: 1px solid #ccc;*/
  border-bottom: none;
  margin-right: 5px;
}



.obsidian_douban_settings_tab_contents {
  display: flex;
  flex-direction: column;
}

.obsidian_douban_settings_tab_content {
  display: none;
  padding: 10px;
  /*border: 1px solid #ccc;*/
}

.obsidian_douban_settings_tab_header.active {
  background-color: var(--plugin-primary-color);
  font-weight: bold;
  border: 1px solid var(--plugin-secondary-color);
  border-radius: 8px 8px 0 0; /* Rounded corners for the top */
}

.obsidian_douban_settings_tab_content.active {
  background-color: var(--plugin-primary-color);
  display: block;
  padding: 10px;
  border: 1px solid var(--plugin-secondary-color);
  border-radius: 0 8px 8px 8px; /* Rounded corners for the bottom */
}

.obsidian_douban_template_file_select {
	width: 100%;
}


.setting-item-control.obsidian_douban_template_file_select > div.search-input-container {
	width: 100%;
}




